{% extends "base.html" %}

{% block content %}
<h2>새 글 작성</h2>


                                                   <!--- enctype=."multipart/form-data" : 파일 업로드를 위한 옵션 -->
<form id="post-form" action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }} <!-- <P>태그로 감싸져서 랜더링됨 -->

</form>

<div class="button-group" style="display: flex; gap: 10px;">
    <button 
        type="submit" 
        form="post-form" 
        class="btn btn-primary" 
        style="
        margin-bottom: 30px; 
        margin-top: 20px; 
        color: white; 
        border: 3px solid #305d70; 
        cursor: pointer;">저장</button>

    <a href="{% url 'posts:posts' %}">
        <button 
        class="btn btn" 
        style="
        margin-bottom: 30px; 
        margin-top: 20px; 
        color: white; 
        border: 3px solid #305d70; 
        cursor: pointer;">목록으로</button>
    </a>
</div>




{% endblock content %}